<div class="order-first order-sm-first order-md-first order-lg-last animated fadeIn">
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane show active" id="kyc-tab" role="tabpanel" aria-labelledby="kyc-tab">
      <h4>KYC</h4>
      <p>The KYC portion allows us to verify our users and validate all data. Please take the time to fill up your
            KYC details. Thank you.</p>
      <div class="height-sm"></div>
      <div class="card">
        <div class="card-header card-dash-header">
          Level 1 User details

          <!--<pre>{{ kyc1 }}</pre>-->

          <!--<pre>{{ kyc2 }}</pre>-->

          <!--<pre>{{ kyc3 }}</pre>-->
        </div>
        <div class="card-body">
          <div ng-if="kyc1.status_id == 1" class="alert alert-warning text-center" role="alert">
            <i class="fas fa-hourglass-half"></i> Details under review. Thank you for your patience.
          </div>

          <div ng-if="kyc1.status_id == 2" class="alert alert-danger text-center" role="alert">
            <i class="fas fa-exclamation-circle"></i> Oops! There seems to be a problem. Please resubmit
            correct details.
          </div>

          <form class="form-signin" name="vm.form" ng-submit="kyc.levelOne()" role="form" >
            Name
            <div class="form-group">

              <input class="form-control" name="firstName" type="text" placeholder="First Name" ng-model="kyc.user.firstName" required
                     ng-if="kyc1.status_id == 1"
                     disabled
              />

              <input class="form-control" name="firstName" type="text" placeholder="First Name" ng-model="kyc.user.firstName" required
                     ng-if="kyc1.status_id != 1"
              />
            </div>
            <div class="form-group">

              <input class="form-control" name="lastName" type="text" placeholder="Last Name" ng-model="kyc.user.lastName" required
                     ng-if="kyc1.status_id == 1"
                     disabled
              />

              <input class="form-control" name="lastName" type="text" placeholder="Last Name" ng-model="kyc.user.lastName" required
                     ng-if="kyc1.status_id != 1"
              />
            </div>
            <div class="height-md"></div>
            Address
            <div class="form-group">
              <input class="form-control" id="address" name="address" type="text" placeholder="House No." ng-model="kyc.user.address"
                     required
                     ng-if="kyc1.status_id == 1"
                     disabled
              />

              <input class="form-control" id="address" name="address" type="text" placeholder="House No." ng-model="kyc.user.address"
                     required
                     ng-if="kyc1.status_id != 1"
              />
            </div>
            <div class="form-group">
              <input class="form-control" id="city" name="city" type="text" placeholder="City State" ng-model="kyc.user.city"
                     required
                     ng-if="kyc1.status_id == 1"
                     disabled
              />

              <input class="form-control" id="city" name="city" type="text" placeholder="City State" ng-model="kyc.user.city"
                     required
                     ng-if="kyc1.status_id != 1"
              />
            </div>
            <div class="form-group">

              <!--<select class="custom-select"-->
                <!--name="country"-->
                      <!--ng-model="kyc.user.country"-->
                  <!--ng-options="option.name for option in kyc.countries track by option.id"-->
                <!--&gt;-->
              <!--</select>-->

              <select class="custom-select" name="country" ng-model="kyc.user.country"
                      ng-if="kyc1.status_id == 1"
                      disabled
                >
                <option value="">--Select Country--</option>
                <option ng-repeat="option in kyc.countries" value="{{option.id}}">{{option.name}}</option>
              </select>

              <select
                      class="custom-select"
                      name="country"
                      ng-model="kyc.user.country"
                      ng-if="kyc1.status_id != 1"
                      ng-options="option.id as option.name for option in kyc.countries"
                      data-default="{{ kyc.user.country }}"
                      id="country"
              >

              </select>

            </div>
            <div class="form-group">
              <input class="form-control" id="postalcode" name="postalcode" type="text" placeholder="Zip Code" ng-model="kyc.user.postalcode" required
                     ng-if="kyc1.status_id == 1"
                     disabled
              />

              <input class="form-control" id="postalcode" name="postalcode" type="text" placeholder="Zip Code" ng-model="kyc.user.postalcode" required
                     ng-if="kyc1.status_id != 1"
              />
            </div>
            Birthdate
            <div class="form-group">
              <div class="input-group">
                <datepicker date-format="yyyy-MM-dd" selector="form-control " >

                  <input class="form-control" ng-model="kyc.user.birthdate" type="text" placeholder="Date of Birth" width="50%"
                         ng-if="kyc1.status_id == 1"
                         disabled
                  />

                  <input class="form-control" ng-model="kyc.user.birthdate" type="text" placeholder="Date of Birth" width="50%"
                         ng-if="kyc1.status_id != 1"
                  />
                </datepicker>
              </div>
            </div>
            <button type="submit" class="btn btn-primary bg-primary"
                    ng-if="kyc1.status_id == 1"
                    disabled
            >Submit</button>

            <button type="submit" class="btn btn-primary bg-primary"
                    ng-if="kyc1.status_id != 1"
            >Submit</button>
          </form>
        </div>
      </div>
      <div class="height-lg"></div>
      <div class="card">
        <div class="card-header card-dash-header">
          Level 2 Identification
        </div>
        <div class="card-body">
          <!-- <img src="data:image/jpeg;base64,{{ kyc.img }}" /> -->
          <form class="form-signin" name="vm.form" ng-submit="kyc.levelTwo()" role="form">

            <div ng-if="kyc2.status_id == 2" class="alert alert-danger text-center" role="alert">
              <i class="fas fa-exclamation-circle"></i>  Oops! There seems to be a problem. Please resubmit correct details.
            </div>

             <div  ng-if="kyc2.status_id == 1" class="alert alert-warning text-center" role="alert">
              <i class="fas fa-hourglass-half"></i> Details under review. Thank you for your patience.
              <div class="height-md"></div>
            </div>

            <div ng-if="kyc2.status_id != 1">
              <div class="form-group">

                For certain transactions we will be requiring you to submit an additional proof of identity in the form of a valid identification document.
                <div class="height-md"></div>

                <!--<select-->
                        <!--class="custom-select"-->
                        <!--name="idtype"-->
                        <!--ng-model="kyc.user.idtype"-->
                        <!--ng-if="kyc2.status_id == 1"-->
                        <!--ng-options="option.id as option.name for option in kyc.idlist"-->
                        <!--data-default="{{ kyc.user.idtype }}"-->
                        <!--id="idtype"-->
                        <!--disabled-->
                <!--&gt;-->

                <!--</select>-->

                <select
                        class="custom-select"
                        name="idtype"
                        ng-model="kyc.user.idtype"
                        ng-options="option.id as option.name for option in kyc.idlist"
                        data-default="{{ kyc.user.idtype }}"
                        id="idtype"
                    >
                  <option value="">ID Type</option>
                </select>

              </div>

              <div class="form-group">
                <input class="form-control" id="name" type="text" ng-model="kyc.user.idno" placeholder="ID Number" required="required">
              </div>
              <div class="form-group">
                <label >Upload Photo of ID</label>

                <input 
                  class="form-control" 
                  type="file" 
                  ng-model="kyc.file" 
                  name="file" 
                  id="photo-type"
                  base-sixty-four-input
                   />
                 <!-- base-sixty-four-input -->
              </div>

              <button type="submit" class="btn btn-primary bg-primary" >Submit</button>

            </div>

          </form>
        </div>
      </div>
      <div class="height-lg"></div>
      <div class="card">
        <div class="card-header card-dash-header">
          Level 3 Document + Photo
        </div>
        <div class="card-body">

          <div ng-if="kyc3.status_id == 1" class="alert alert-warning text-center" role="alert">
            <i class="fas fa-hourglass-half"></i> Your photo + document details are under review. Thank you for your patience.
          </div>

          <div ng-if="kyc3.status_id == 2">
            <div class="alert alert-danger text-center" role="alert">
              <i class="fas fa-exclamation-circle"></i> Oops! There seems to be a problem. Please resubmit correct details.
            </div>
          </div>

          <div ng-if="kyc3.status_id == 3">
            <div class="alert alert-danger text-center" role="alert">
              <i class="fas fa-exclamation-circle"></i> Oops! There seems to be a problem. Please resubmit
              correct details.
            </div>
          </div>

          <div ng-if="kyc3.status_id != 1">
            <p>We request you to take a clear selfie holding up a valid ID and the properly filled-up KYC form that you downloaded.
            </p>
            <div class="height-md"></div>
            <form class="form-signin" name="vm.form" ng-submit="kyc.levelThree()" role="form">
              <a href="doc/kyc-form-english.pdf" class="btn btn-primary" download><i class="far fa-file-pdf"></i>
                Download KYC Form</a>
              <div class="height-lg"></div>
              <div class="divider"></div>
              <div class="height-lg"></div>
              <div class="form-group">
                <label >1. Upload scanned filled up document</label>
                <input 
                  class="form-control" 
                  type="file" 
                  ng-model="kyc.document" 
                  name="document" 
                  base-sixty-four-input 
                  />
              </div>
              <div class="height-lg"></div>
              <div class="divider"></div>
              <div class="height-md"></div>
              <div class="form-group">
                <label >2. Upload Photo</label>
                <div class="height-md"></div>
                <img src="img/img-submit-photo.jpg" />
                <div class="height-lg"></div>
                <input 
                  class="form-control" 
                  type="file" 
                  ng-model="kyc.selfie" 
                  name="selfie"
                  base-sixty-four-input 
                  />
              </div>
              <div class="height-md"></div>
              <button type="submit" class="btn btn-primary bg-primary">Submit</button>
            </form>
          </div>

        </div>
      </div>
      <div class="height-lg"></div>
    </div>
  </div>
</div>
