<div class="animated fadeIn" ng-controller="dashboardCtrl">
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="wallet-tab" role="tabpanel" aria-labelledby="wallet-tab">
      <!-- <div class="card">
        <div class="card-header card-dash-header">
          Disabled
        </div>
        <div class="card-body text-center">
          <div class="height-lg"></div>
          <h3>Coming Soon!</h3>
          <div class="height-lg"></div>
        </div>
      </div> -->
      <!-- <div class="height-lg"></div> -->
      <h4>Dashboard</h4>
      <div class="height-sm"></div>
      <div class="card">
        <div class="card-header card-dash-header">
          Your Aevolve Wallet
        </div>
        <div class="card-body text-center">
          This is your Aevolve wallet address. To receive tokens, simply copy the Wallet ID below. You may also use this address to send your AEVX tokens to another ERC-20 compatible wallet.
          <br><br>
          <i class="fas fa-qrcode fa-5x"></i>
          <br /> Wallet ID: <span id="wallet_id" value = ""></span>
          <!-- <input type="text" ng-model="wallet"> -->
          <a href="#" ngclipboard data-clipboard-target="#wallet_id">Copy</a>
          <div class="height-lg"></div>
          <a href = "#" ng-click="openCardModal()" class="btn btn-primary bg-primary" data-toggle="modal">Send Tokens</a>
        </div>
      </div>
      <div class="height-lg"></div>
      <div class="card">
        <div class="card-header card-dash-header">
          Recent Transactions
        </div>
        <div class="card-body">
          <table class="table table-hover">
            <thead class="bg-light">
              <tr>
                <th scope="col">Status</th>
                <th scope="col">Currency</th>
                <th scope="col">Amount</th>
                <th scope="col">Time</th>
              </tr>
            </thead>
            <tbody>
						<!--
              <tr>
                <th scope="row">Pending</th>
                <td>BTC to AEVX</td>
                <td>1000</td>
                <td>2018-11-15 12:25</td>
              </tr>
              <tr>
                <th scope="row">Completed</th>
                <td>BTC to AEVX</td>
                <td>1500</td>
                <td>2018-10-11 23:44</td>
              </tr>
              <tr>
                <th scope="row">Completed</th>
                <td>ETH to AEVX</td>
                <td>900</td>
                <td>2018-09-28 13:44</td>
              </tr>
						-->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
