<div class="order-first order-sm-first order-md-first order-lg-last animated fadeIn">
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane show active" id="referral-tab" role="tabpanel" aria-labelledby="referral-tab">
      <h4>Referral</h4>
      <div class="height-sm"></div>
      <div class="card">
        <div class="card-header card-dash-header">
          <i class="fas fa-share-square"></i> Share your link

        </div>
        <div class="card-body">
					<div class="height-sm"></div>
					<p>Referrals are a great way to participate in the community and share the great benefits that the
						Aevolve token has to offer.</p>

					<p>Through our referral program, get the chance to earn more tokens. Help us spread the word by
						copying your personal referral link and sharing it with your friends and followers.
					</p>
					<div class="height-lg"></div>
					REFERRAL LINK
					<div class="height-sm"></div>
					<div class="input-group mb-3">
						<input type="text" class="form-control" value="https://aevolve.health/21321sawsfd32"
							aria-describedby="basic-addon2">
						<div class="input-group-append">
							<button class="btn bg-primary text-white">COPY</button>
						</div>
					</div>
					<div class="height-sm"></div>
					<p class="alert alert-secondary"><strong>Wanna share the news?</strong> Copy this referral link to
						social media, messaging platforms and emails. Learn more about how you can be an ambassador for
						this healthcare phenomenon. Contact the Aevolve team for more info.
					</p>
				</div>
      </div>
    </div>
  </div>
</div>
