<div class="order-first order-sm-first order-md-first order-lg-last animated fadeIn" ng-controller="settingsCtrl">
  <div class="tab-content" id="myTabContent">
      <div class="tab-pane show active" id="settings-tab" role="tabpanel" aria-labelledby="settings-tab">
          <h4>Settings</h4>
					Adjust your account settings here.
          <div class="height-sm"></div>
					<!--
          <div class="card">
            <div class="card-header card-dash-header">
              <i class="fas fa-cog"></i> To change the email address for this account:
            </div>
            <div class="card-body">
              <div class="form-group">
                <input class="form-control" id="email" type="text" placeholder="New Email" required="required">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input class="form-control" id="confirm_email" type="text" placeholder="Confirm New Email" required="required">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input class="form-control" id="password" type="password" placeholder="Current Password" required="required">
                <p class="help-block text-danger"></p>
              </div>
              <a href="#" class="btn btn-primary bg-primary" ng-click="openAuthentication()">Change Email</a>
            </div>
          </div>
          <div class="height-lg"></div>
					-->
          <div class="card">
            <div class="card-header card-dash-header">
              <i class="fas fa-cog"></i> To change the password for this account:
            </div>
            <div class="card-body">
              <div class="form-group">
                <input class="form-control" id="old_password" type="password" placeholder="Old Password" required="required">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input class="form-control" id="new_password" type="password" placeholder="New Password" required="required">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input class="form-control" id="confirm_password" type="password" placeholder="Confirm New Password" required="required">
                <p class="help-block text-danger"></p>
              </div>
              <a href="#" class="btn btn-primary bg-primary" ng-click="openAuthentication()">Change Password</a>
            </div>
          </div>
          <div class="height-lg"></div>
          <div class="card">
            <div class="card-header card-dash-header">
              <i class="fas fa-mobile-alt"></i> To enable or disable Two-factor Authentication (2FA):
            </div>
            <div class="card-body">
              Status:
              <span class="badge badge-danger">OFF</span>
              <div class="height-md"></div>
              Turn on 2FA to secure your transactions and enable more functions on the site.
              <div class="height-lg"></div>
              <a href="#" class="btn btn-primary bg-primary" ng-click="openAuthentication2()">Enable</a>
            </div>
          </div>
      </div>
  </div>
</div>
