<div class="tab-pane animated fadeIn" role="tabpanel">
<div>
    <h4 class="section-heading">Concepts</h4>
    <div>
            <br /> <strong>As a transactional medium*</strong>
            <br /> -Faster deal execution
            <br /> -Lower fees
            <br />
            <br /> <strong>As a redemption note*</strong>
            <br /> To redeem a fraction of a unit or the full assessed value of a unit
            <br /> Automated service functions
            <br />
            <br /><strong>Easily transferable*</strong>
            <br /> -To other persons or third party markets who are then able to transact for fractions of the
            unit value
            <br />
            <br /> <strong>Anchoring and native token for future Biosphere platform</strong>
            <br /> -Provides access to holders of other cryptocurrencies or tokens
            <br />
            <br /> <strong>Linked with several providers</strong>
            <br /> -Cumulative value and benefits
            <br /> -Can be aggregated to purchase a reservation token, which serves as the provider’s official
            IOU to deliver the service
            <br />
            <br /> <strong>The Aevolve Network</strong>: Reshaping the Healthcare Systems of the Future
            <br /> <strong>Altering Spatial Dynamics in Patient Care</strong>
            <br /> <strong>TOKEN VALUE DRIVERS</strong>
            <br /> <strong>Biosphere: An Innovation Marketplace</strong>
            <div class="height-lg"></div>
        <img src="img/img-token-attributes.jpg" class="img-fluid">
    </div>
    <div class="height-lg"></div>
    <div>


        <p></p>
    </div>
    <div class="height-lg"></div>
</div>
</div>
