<div class="tab-pane animated fadeIn" id="list-faq" role="tabpanel" aria-labelledby="list-faq-list">
  <h4 class="section-heading">FAQ</h4>
  <div class="height-lg"></div>

  <uib-tabset active="currentTabIndex" justified="false">

    <uib-tab index="0" heading="ICO ">
      <div class="tab-pane animated fadeIn" id="ico" role="tabpanel" aria-labelledby="ico-tab">
        <div class="height-lg"></div>
          <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  What exactly is your token?
                </h5>
              </div>

              <div>
                <div class="card-body">
                  <p>The Aevolve utility token (AEVX) is a crypto-asset in the biotech and healthcare industry.
                    It acts as a distribution and redemption token for a medical product on offer from a
                    designated provider. The product in this case can be any invention, device, testing or
                    therapeutic procedure on offer on the future Biospheres innovation exchange.
                  </p>
                </div>
              </div>
            </div>
            <div class="height-md"></div>
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  What is the vision for the Aevolve token?
                </h5>
              </div>

              <div>
                <div class="card-body">
                  <p>Aevolve will act as a mode of value capture in the biotech and healthcare sector. It will
                    be the primary means of value transfer and native token in the future healthcare ecosystem
                    that emerges from this ICO: Biospheres.</p>

                  <p>AEVX will be the native token of the Biospheres platform which means it is the only token
                    that will allow users to participate, transfer value, and acquire Spheres (medical
                    offerings) on the platform. As more biotech or health companies are onboarded and listing
                    their Spheres, the utility of the AEVX token will expand with our medical innovation
                    marketplace growth.

                  </p>
                </div>
              </div>
            </div>
            <div class="height-md"></div>
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  What is the technology behind the token?

                </h5>
              </div>

              <div>
                <div class="card-body">
                  <p>The token runs on the Ethereum distributed ledger using the ERC-20 protocol for smart
                    contracts. The ERC-20 standard was selected on the merits of 1) expediency: swift scaling
                    and execution 2) ease and product fit: ability to execute the primary purpose of the token,
                    which is to be globally deployed as a redeemable note for the biotech or healthcare service
                    on offer, and 3) user experience and compatibility: high level of user convenience, being
                    compatible with many existing exchange platforms and flexible enough to be stored in an
                    already widely available range of wallets. </p>

                  <p>The token allows holders to transfer value in a matter of minutes to anyone in the world,
                    enabling others in their networks to benefit and liberalizing access to cutting-edge
                    science.
                  </p>
                </div>
              </div>
            </div>
            <div class="height-md"></div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  What is the price of the token upon ICO launch?
                </h5>
              </div>
              <div>
                <div class="card-body">
                  The price a single token is USD 1.
                </div>
              </div>
            </div>
            <div class="height-md"></div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  What is the total token supply?
                </h5>
              </div>
              <div>
                <div class="card-body">
                  Total token supply is set at 1,210,000,000 tokens.
                </div>
              </div>
            </div>
            <div class="height-md"></div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  Did you set a hard cap for your campaign?
                </h5>
              </div>
              <div>
                <div class="card-body">
                  The hard cap is $ 1,210,000,000. Once this goal has been achieved the campaign will be
                  stopped.

                </div>
              </div>
            </div>
            <div class="height-md"></div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  What is the soft cap for your project?
                </h5>
              </div>
              <div>
                <div class="card-body">
                  Soft cap is $ 1,000,000,000.

                </div>
              </div>
            </div>
            <div class="height-md"></div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  When will your tokens be distributed?
                </h5>
              </div>
              <div>
                <div class="card-body">
                    Tokens will be given upon purchase, but there will be a linear vesting schedule followed in the Pre-ICO phase.
                </div>
              </div>
            </div>
            <div class="height-md"></div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  When will your tokens be available on exchange platforms?
                </h5>
              </div>
              <div>
                <div class="card-body">
                    Exchange listings will be announced after the ICO is completed.
                </div>
              </div>
            </div>
            <div class="height-md"></div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  Can I store my tokens in a third-party ETH wallet?
                </h5>
              </div>
              <div>
                <div class="card-body">
                  Yes, after distribution, you may store your tokens in wallets that support the ERC-20
                  standard.
                </div>
              </div>
            </div>
            <div class="height-md"></div>
            <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    What is the market addressed by this token?
                  </h5>
                </div>
                <div class="card-body">
                  <p>This token addresses patients all over the world, and anyone who is interested in the proactive management of their own health future.
                  </p>
                </div>
              </div>
              <div class="height-md"></div>
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    Why is this ICO important?
                  </h5>
                </div>
                <div class="card-body">
                  <p>This ICO bridges the gap between scientific innovation and real-world health solutions.</p>
                  <p>We decided this is the best way to provide global, unfettered access to groundbreaking new
                    medical
                    technologies—to expand innovation through the free and open world of crypto tokens.
                  </p>
                </div>
              </div>
              <div class="height-md"></div>
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                      What is the future ecosystem about?
                  </h5>
                </div>
                <div class="card-body">
                  <p>The future ecosystem, Biospheres, will cast a wide net in capturing leading edge health innovation. Biosphere will be an inclusive availment model and an innovation marketplace—the health sciences’ ecosystem of ecosystems—that invites all cutting-edge participants on the road to better health. Through our future VC arm, we are supporting passionate and dedicated scientists and projects at mature stages in need of alternative funding vehicles.
                  </p>
                </div>
              </div>
              <div class="height-md"></div>

          </div>
      </div>
    </uib-tab>

  </uib-tabset>



  <div class="tab-content" id="myTabContent">


  </div>
</div>
