<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="list-faq" role="tabpanel" aria-labelledby="list-faq-list">
    <h4 class="section-heading">FAQ</h4>
    <div class="height-lg"></div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="ico-tab" data-toggle="tab" href="#ico" role="tab" aria-controls="ico" aria-selected="true">ICO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="false">General</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="technical-tab" data-toggle="tab" href="#technical" role="tab" aria-controls="technical" aria-selected="false">Technical</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade" id="general" role="tabpanel" aria-labelledby="general-tab">
        <div class="height-lg"></div>
        <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                What is the market addressed by this token?
              </h5>
            </div>
            <div class="card-body">
              <p>This token addresses disease-specific health markets, and anyone who is interested in the proactive
                management of their own health future.
              </p>
              <p>The first product/service accessed by the token addresses beta-amyloid oligomer positive (+) individuals.
                To understand the relationship between soluble beta-amyloid oligomers and Alzheimer’s disease or
                other diseases like diabetes, click on the technical FAQs.
              </p>
              <p> Future markets addressed will match the specific competencies of future providers.
              </p>
            </div>
          </div>
          <div class="height-md"></div>
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                Why is this ICO important?
              </h5>
            </div>
            <div class="card-body">
              <p>This ICO bridges the gap between scientific innovation and real-world health solutions.</p>
              <p>We decided this is the best way to provide global, unfettered access to groundbreaking new medical
                technologies—to expand innovation through the free and open world of crypto tokens.
              </p>
            </div>
          </div>
          <div class="height-md"></div>
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                Where can we obtain basic patient information?
              </h5>
            </div>
            <div class="card-body">
              <p>The provider is responsible for patient screening, onboarding and providing basic patient information.
                All interested parties are encouraged to check with their doctors and do the necessary research
                prior to applying for the procedure. Providers will establish their own unique screening process
                for the admission of eligible patients, which will be reflected on the reservation site run by
                the provider.

              </p>
            </div>
          </div>
          <div class="height-md"></div>
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                How many treatment/procedure slots will be available?
              </h5>
            </div>
            <div class="card-body">
              <p>The provider will be issuing the first 100,000 procedures exclusively through the Aevolve token.
                It will serve as the redemption token for the procedure. These slots are already discounted and
                offered via the reservation site.
              </p>
            </div>
          </div>
          <div class="height-md"></div>
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                What are the mechanics for the reservation site? How can the token be used to reserve a procedure?
              </h5>
            </div>
            <div class="card-body">
              <p>Tokens will be directly used to redeem the procedure, at a fixed price. All procedures, upon reaching
                ICO hard cap, are considered bought and paid for. For the rest of the pricing and redemption mechanics,
                please refer to the ICO whitepaper. The details and requirements for the patient onboarding and
                screening process after token purchase becomes the responsibility of the provider.

              </p>
            </div>
          </div>
          <div class="height-md"></div>
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                The procedure is only FDA-approved in the Philippines. How can a non-citizen avail of it?
              </h5>
            </div>
            <div class="card-body">
              <p>This will be facilitated by a medical tourism model. Further details on medical tourism packages
                will be given on the reservation site.
              </p>

            </div>
          </div>
          <div class="height-md"></div>
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                How can I be assured of top quality medical care if I am interested in the procedure?
              </h5>
            </div>
            <div class="card-body">
              <p>Top medical institutions are already onboard this amazing project. You may check the provider site
                for their medical and scientific teams.
              </p>

            </div>
          </div>
          <div class="height-md"></div>
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                I am new to blockchain tokens. Where can I learn more about this space?
              </h5>
            </div>
            <div class="card-body">
              <p>There are numerous resources online to teach you the basics of how to open a crypto wallet and how
                to keep your tokens safe. We recommend that you do a lot of online search and reading and understand
                the meaning of public and private keys and basic token security. However, we made sure that the
                token purchase experience on this site will be as user-friendly as possible.
              </p>
            </div>
          </div>
          <div class="height-md"></div>
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                Is beta-amyloid extraction the only use case for this token?
              </h5>
            </div>
            <div class="card-body">
              <p>No. In the future, Aevolve will be the access token for other cutting-edge biotech products. It will
                also be the native token in an innovation marketplace where we will be onboarding new innovation
                providers. It eventually behaves as the anchoring token to this disease prevention ecosystem and
                other medical ecosystems.
              </p>
              <p>Aevolve is the vehicle for the healthcare solutions of the future.
              </p>

            </div>
          </div>
          <div class="height-md"></div>
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                What is your future ecosystem about?
              </h5>
            </div>
            <div class="card-body">
              <p>The future ecosystem, Biosphere, will cast a wider net in capturing leading edge health innovation.
                Biosphere will be an inclusive availment model and an innovation marketplace—the health sciences’
                ecosystem of ecosystems—that invites all cutting-edge participants on the road to better health.
                Through our future VC arm, we are supporting passionate and dedicated scientists and projects at
                mature stages in need of alternative funding vehicles.
              </p>
            </div>
          </div>

        </div>
      </div>
      <div class="tab-pane fade" id="technical" role="tabpanel" aria-labelledby="technical-tab">
        <div class="height-lg"></div>
        <h4>PROVIDER MARKET 1 - BETA-AMYLOID EXTRACTION</h4>
        The first service on offer is a rapid beta-amyloid extraction procedure from cutting edge biotech company, Amylex.
        <div class="height-md"></div>
        <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                What are beta-amyloids?
              </h5>
            </div>
            <div class="card-body">
              <p>Beta-amyloid proteins have been extensively researched for their role in Alzheimer’s disease pathology.
                Beta-amyloid peptides are naturally-occurring in the body and are formed from the cleavage of a
                larger peptide molecule, Amyloid Precursor Protein (APP). When there is overproduction or insufficient
                clearing of these peptides, the monomers adhere to each other to form soluble oligomers. Beta-amyloid
                oligomers are regarded as the “toxic” form of this substance as they have demonstrated a high correlation
                with Alzheimer’s incidence and the onset of its most prominent symptom, dementia.
              </p>
            </div>
          </div>
          <div class="height-md"></div>
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                How does synthetic nanotechnology extract toxic beta-amyloids from the body?
              </h5>
            </div>
            <div class="card-body">
              <p>The newly-launched FDA-approved procedure on offer removes harmful beta-amyloid from the peripheral
                circulation through a specialized process of hemodialysis. The mechanism involves a synthetic molecular
                compound, an engineered nanorobot, that mechanically extracts the harmful protein from the blood
                by binding it with a high specificity, acting as a supermagnet. This process in turn creates a
                “sink effect”, whereby peripheral extraction re-equilibrates and reduces beta-amyloid in the CNS
                circulation.
              </p>
              <p>
                This extensively tested and FDA-approved procedure takes only a few hours to complete. Testing, prescription, admission,
                therapy, to post-dialysis observation and discharge takes an average of three days. </p>
            </div>
          </div>
          <div class="height-md"></div>
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                Can you give me an overview of Alzheimer’s disease?
              </h5>
            </div>
            <div class="card-body">
              <p>Every 70 seconds, someone is diagnosed with Alzheimer’s disease. Long before it had a name, its spectrum
                of devastating neurodegenerative symptoms—primarily characterized by the familiar onset of dementia—has
                afflicted the human race, exacting a tremendous toll on health, quality of life, productivity,
                resources, and relationships. Contributing to about 60 to 80% of cases of dementia [1] , Alzheimer’s
                disease continues to burden more people worldwide as modern populations age. As of 2015, an estimated
                46.8 million people all over the world suffered from dementia. The number is expected to reach
                131.5 million in 2050. [2]
              </p>
              <p>
                There is no cure for Alzheimer’s. Current protocols for disease management are palliative or symptomatic at best. Since it
                was discovered and given a name, Alzheimer’s has been perceived as a death sentence, the diagnosis
                is a devastating blow to patients and their loved ones. It said that Alzheimer’s is a disease where
                patients “die twice”—first as they progressively forget themselves and lose autonomy, and second,
                in a “final act of forgetting”, as one day they simply forget to breathe.
              </p>
            </div>
          </div>
          <div class="height-md"></div>
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                Does this procedure claim to cure Alzheimer’s disease?
              </h5>
            </div>
            <div class="card-body">
              <p>No. The patent is for rapid beta-amyloid extraction through a medical device. It removes the substance
                that contributes to Alzheimer’s pathology and comprises the plaques deposited in the brain of Alzheimer’s
                patients.
              </p>
              <p>The procedure is consistent with the most recent groundbreaking studies on Alzheimer’s pathology.
                Circulating beta-amyloid oligomers can be removed years or decades before Alzheimer’s onset, therefore
                allowing a window for disease pathology intervention at stages previously unexplored.
              </p>
              <p> This safe, quick and remarkably effective procedure is the first of its kind in human history.</p>
            </div>
          </div>
          <div class="height-md"></div>
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                Can this procedure be performed on patients diagnosed with Alzheimer’s disease?
              </h5>
            </div>
            <div class="card-body">
              <p>Yes. Given they pass a screening test administered by the provider. Further questions regarding patient
                eligibility will be answered by the provider on the reservation site.

              </p>
            </div>
          </div>
          <div class="height-md"></div>
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                What are other interesting research findings related to this procedure?
              </h5>
            </div>
            <div class="card-body">
              <p>One of the most interesting findings is the relationship between beta-amyloids and diabetes, and
                this has led to studies exploring the relationship between Alzheimer’s and diabetes. The provider
                is still pursuing this research trajectory. For more information, visit the provider site below.

              </p>
            </div>
          </div>
          <div class="height-md"></div>
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                Materials from Provider
              </h5>
            </div>
            <div class="card-body">
              <p>For more medical or technical information on this device/procedure, and to explore the science behind
                the nanotech designed for rapid extraction of beta-amyloids, you may refer to the data provided
                on
                <a href="http://www.amylexlabs.com">www.amylexlabs.com</a>.</p>


              <p><strong>Biotech and Medical Deep Dives</strong></p>

              <p>Here are reference links that may help you in researching beta-amyloids and their role in Alzheimer’s
                pathology:
              </p>

              <p><strong>Rutgers study published in the Journal of Alzheimer’s Disease</strong></p>

              <p> Bitel CL., Kasinathan C., Kaswala R.H., Klein W.L., and Frederikse P.H. (2012). Amyloid-β and Tau
                Pathology of Alzheimer’s Disease Induced by Diabetes in a Rabbit Animal Model. Journal of Alzheimer’s
                Disease. 32 (2), pp. 291-305. Doi: 10.3233/JAD-2012-120571</p>

              <p>
                <a href="https://content.iospress.com/articles/journal-of-alzheimers-disease/jad120571">https://content.iospress.com/articles/journal-of-alzheimers-disease/jad120571</a>
              </p>

              <p><strong>Direct Evidence of the Presence of Cross-Linked Aβ Dimers in the Brains of Alzheimer’s Disease Patients</strong>
              </p>

              <p>De la Torre, A.V., et. al. (2018). Direct Evidence of the Presence of Cross-Linked Aβ Dimers in the
                Brains of Alzheimer’s Disease Patients. Analytical Chemistry90 (7). doi: 10.1021/acs.analchem.7b04936</p>

              <p>One of the Emerging Concepts in Alzheimer’s: Role of Soluble Beta-Amyloid Oligomers in Neuronal Dysfunction</strong>
              </p>

              <p>Haass &amp; Selkoe (2007). Soluble protein oligomers in neurodegeneration: lessons from the Alzheimer’s
                amyloid beta-peptide. Nat Rev Mol Cell Biol. 8(2):101-12. doi: 10.1038/nrm2101</p>

              <p><strong>Amylex Site Information</strong></p>

              <p><a href="http://amylexlabs.com/beta-amyloids-and-diseases/#1527089240379-c3da0187-4d24">http://amylexlabs.com/beta-amyloids-and-diseases/#1527089240379-c3da0187-4d24</a></p>


              <p><strong>Basic Patient Information</strong></p>

              <p>The provider is ultimately responsible for patient screening, onboarding and providing basic patient
                information. All interested parties are encouraged to check with their doctors and do the necessary
                research prior to applying for the procedure. Providers will establish their own unique screening
                process for the admission of eligible patients, which will be reflected on the reservation site
                run by the provider. </p>
            </div>
          </div>

        </div>
      </div>
      <div class="tab-pane fade show active" id="ico" role="tabpanel" aria-labelledby="ico-tab">
        <div class="height-lg"></div>
        <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                What exactly is your token?
              </h5>
            </div>

            <div>
              <div class="card-body">
                <p>The Aevolve utility token (AEVX) is a crypto-asset in the biotech and healthcare industry. It acts
                  as a distribution and redemption token for a medical product on offer from a designated provider.
                  The product in this case can be any invention, device, testing or therapeutic procedure or drug
                  that has attained sufficient legal approval to dispense within one or several jurisdictions.
                  The current product on offer is a medical procedure for the rapid extraction of beta-amyloids.
                </p>
                <p>The token runs on the Ethereum distributed ledger using the ERC-20 protocol for smart contracts.
                  The ERC-20 standard was selected on the merits of 1) expediency: swift scaling and execution
                  2) ease and product fit: ability to execute the primary purpose of the token, which is to be
                  globally deployed as a redeemable note for the biotech or healthcare service on offer, and 3)
                  user experience and compatibility: high level of user convenience, being compatible with many
                  existing exchange platforms and flexible enough to be stored in an already widely available range
                  of wallets.
                </p>
                <p> Aevolve will act as a mode of value capture in the biotech and healthcare sector. It will be the
                  primary means of value transfer and native token in the future healthcare ecosystem that emerges
                  from this ICO.
                </p>
                <p>The token allows holders to transfer value in a matter of minutes to anyone in the world, enabling
                  others in their networks to benefit and liberalizing access to cutting-edge science.
                </p>
              </div>
            </div>
          </div>
          <div class="height-md"></div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                What is the price of the token upon ICO launch?
              </h5>
            </div>
            <div>
              <div class="card-body">
                The price a single token is USD 1.
              </div>
            </div>
          </div>
          <div class="height-md"></div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                What is the total token supply?
              </h5>
            </div>
            <div>
              <div class="card-body">
                Total token supply is set at 1,210,000,000 tokens.
              </div>
            </div>
          </div>
          <div class="height-md"></div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                Did you set a hard cap for your campaign?
              </h5>
            </div>
            <div>
              <div class="card-body">
                The hard cap is $ 1,210,000,000. Once this goal has been achieved the campaign will be stopped.

              </div>
            </div>
          </div>
          <div class="height-md"></div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                What is the soft cap for your project?
              </h5>
            </div>
            <div>
              <div class="card-body">
                Soft cap is $ 1,000,000,000.

              </div>
            </div>
          </div>
          <div class="height-md"></div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                When will your tokens be distributed?
              </h5>
            </div>
            <div>
              <div class="card-body">
                Tokens will be distributed a few months after ICO, when the reservation system is launched.

              </div>
            </div>
          </div>
          <div class="height-md"></div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                When will your tokens be available on exchange platforms?
              </h5>
            </div>
            <div>
              <div class="card-body">
                Exchange listings will be announced after token distribution date.

              </div>
            </div>
          </div>
          <div class="height-md"></div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                Can I store my tokens in a third-party ETH wallet?
              </h5>
            </div>
            <div>
              <div class="card-body">
                Yes, after distribution, you may store your tokens in wallets that support the ERC-20 standard.

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
