<div class="order-first order-sm-first order-md-first order-lg-last">
  <div class="tab-content" id="myTabContent">
          <div class="tab-pane show active" id="gettokens-tab" role="tabpanel" aria-labelledby="gettokens-tab">
            <h4>Get Token</h4>
            <div class="height-sm"></div>
            <div class="card ">
              <div class="card-header card-dash-header">
                <i class="fas fa-arrow-circle-right"></i> Select currency to convert to AEVX
              </div>
              <div class="card-body text-center">
                <a href="#" class="btn btn-choice">
                  <i class="fab fa-btc fa-4x pad-md"></i>
                  <br /> Bitcoin</a>
                <a href="#" class="btn btn-choice">
                  <i class="fab fa-ethereum fa-4x pad-md"></i>
                  <br /> Ethereum</a>
                <a href="#" class="btn btn-choice">
                  <i class="fab fa-bitcoin fa-4x pad-md"></i>
                  <br /> Bitcoin
                  <br />Cash</a>

                <div class="height-lg"></div>

                <a href="#" class="btn btn-primary bg-primary" data-toggle="modal" data-target="#tradeModal">Continue</a>

              </div>
            </div>
            <div class="height-lg"></div>
            <div class="card ">
              <div class="card-header card-dash-header bg-disabled">
                <i class="fas fa-arrow-circle-right"></i> Select currency to convert to AEVX
              </div>
              <div class="card-body text-center">
                <div class="height-md"></div>
                Function disabled. Join whitelist to participate in token sale.
                <div class="height-lg"></div>
                <a href="#" class="btn btn-primary bg-primary" data-toggle="modal" data-target="#whitelistModal">Join Whitelist</a>
              </div>
            </div>
            <div class="height-lg"></div>
            <div class="card ">
              <div class="card-header card-dash-header bg-disabled">
                <i class="fas fa-arrow-circle-right"></i> Select currency to convert to AEVX
              </div>
              <div class="card-body text-center">
                <div class="height-md"></div>
                Function disabled. Fill up KYC and enable 2FA to enable.
                <div class="height-md"></div>
                <a href="#" class="btn btn-choice disabled">
                  <i class="fab fa-btc fa-4x pad-md"></i>
                  <br /> Bitcoin</a>
                <a href="#" class="btn btn-choice disabled">
                  <i class="fab fa-ethereum fa-4x pad-md"></i>
                  <br /> Ethereum</a>
                <a href="#" class="btn btn-choice disabled">
                  <i class="fab fa-bitcoin fa-4x pad-md"></i>
                  <br /> Bitcoin
                  <br />Cash</a>
                <div class="height-lg"></div>
                <a href="#" class="btn btn-primary bg-primary disabled" data-toggle="modal" data-target="#tradeModal">Continue</a>
              </div>
            </div>
          </div>
  </div>
</div>
