<div class="tab-pane animated fadeIn" role="tabpanel">
<div>
    <h4 class="section-heading">Media</h4>
    <div class="height-lg"></div>
    <strong>Tedx Talk</strong>
    <div class="height-md"></div>
    <iframe class="embed-responsive-item" style="width: 100%; min-height:400px;" src="https://www.youtube.com/embed/4QJoXBHE9sg?rel=0"
        allowfullscreen></iframe>
    <div class="height-lg"></div>
    Tedx Talk
    <div class="height-md"></div>
    <iframe class="embed-responsive-item" style="width: 100%; min-height:400px;" src="https://www.youtube.com/embed/13E0y14r4Rs?rel=0"
        allowfullscreen></iframe>
    <div class="height-lg"></div>
    <div>
        <strong>Article Title</strong>
        <div class="height-md"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pulvinar condimentum lorem at
            gravida. Cras ac aliquam velit. Morbi eget felis libero. Orci varius natoque penatibus et
            magnis dis parturient montes, nascetur ridiculus mus. Proin maximus sagittis nunc. Quisque
            mollis pretium sagittis. Ut sed porta velit. Vestibulum imperdiet felis magna, a bibendum
            eros cursus at. </p>

        <p>Sed dapibus arcu felis, at tincidunt enim sodales non. Nunc aliquet eros neque, sit amet molestie
            lacus mattis id. In et sollicitudin urna. Etiam id porttitor ex, id iaculis mi. Nulla congue
            nisi vitae neque pharetra, at consectetur mi eleifend. Vestibulum euismod, dolor id efficitur
            tempor, felis eros ultricies nisi, in scelerisque felis turpis sit amet sem. Mauris venenatis
            iaculis libero vel faucibus. Praesent odio tellus, maximus a porta quis, tempus at libero.
            Nunc eleifend arcu libero. Etiam commodo cursus nisl, sed pharetra tortor. Ut porttitor pretium
            sollicitudin. Maecenas auctor ultricies ipsum, id efficitur mi malesuada id. Sed porttitor
            tortor vitae erat auctor maximus.</p>
    </div>
    <div class="height-lg"></div>
</div>
</div>
