<div class="tab-pane animated fadeIn" role="tabpanel">
<div>
    <h4 class="section-heading">Media</h4>
    <div class="height-lg"></div>
    <strong>Tedx Talk</strong>
    <div class="height-md"></div>
    <iframe class="embed-responsive-item" style="width: 100%; min-height:400px;" src="https://www.youtube.com/embed/4QJoXBHE9sg?rel=0"
        allowfullscreen></iframe>
    <div class="height-lg"></div>
    Tedx Talk
    <div class="height-md"></div>
    <iframe class="embed-responsive-item" style="width: 100%; min-height:400px;" src="https://www.youtube.com/embed/13E0y14r4Rs?rel=0"
        allowfullscreen></iframe>
    <div class="height-lg"></div>
    <div>
				<strong>The First Sphere: A Breakthrough in Biotechnology</strong>
				<div class="height-md"></div>
				<p>Introducing an FDA-approved solution for the rapid extraction of beta-amyloids, the
						known culprit behind Alzheimer's disease.
				</p>

				<p>Material from our First Biotech Provider, Amylex</p>

				<p> Mr. Vonz Santos, the owner of biotech company, Amylex, introduces an innovation in the
						search for the cure to Alzheimer's disease. He explains the process of intervening in
						the pathological process of beta Amyloids in the body to prevent them from becoming
						deadly. Vonz is concurrently the CEO of Amylex, a Philippine biotech company which,
						among others, focuses on the development of molecular technology and medical treatment
						of Alzheimer’s and diabetes diseases. One of his visions is for the Philippines to
						become a great platform country for the research of molecular technology/treatment
						throughout Asia and the rest of the world.</p>

						<p> Among his company’s greatest contributions has been the creation and distribution of
						the folding Butterfly House, which is a portable emergency shelter funded by USAID. It
						has been distributed to hundreds of families in Tacloban who were displaced by the 2012
						Typhoon Yolanda. It is also being disseminated to refugees in Marawi City, Mindanao
						badly affected by this year’s Maute terrorist siege. Due to the durability and
						practicality of the Butterfly House, it is now being used by such international
						entities as the United Nations. This talk was given at a TEDx event using the TED
						conference format but independently organized by a local community. Learn more at
						<a href="https://www.ted.com/tedx">https://www.ted.com/tedx</a>.</p>
				</p>
		</div>
    <div class="height-lg"></div>
</div>
</div>
