<div class="order-first order-sm-first order-md-first order-lg-last">
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane show active" id="referral-tab" role="tabpanel" aria-labelledby="referral-tab">
      <h4>Referral</h4>
      <div class="height-sm"></div>
      <div class="card">
        <div class="card-header card-dash-header">
          <i class="fas fa-share-square"></i> Share your link

        </div>
        <div class="card-body">
          <div class="height-sm"></div>
          Copy your personal referral link and share it with your friends and followers.
          <div class="height-lg"></div>
          REFERRAL LINK
          <div class="height-sm"></div>
          <div class="input-group mb-3">
            <input id="referral_link" type="text" class="form-control" value="https://aevolve.health/21321sawsfd32" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button ngclipboard data-clipboard-target="#referral_link" class="btn bg-primary text-white">COPY</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
