<div class="order-first order-sm-first order-md-first order-lg-last">
  <div class="tab-content" id="myTabContent">
      <div class="tab-pane show active" id="settings-tab" role="tabpanel" aria-labelledby="settings-tab">
          <h4>Settings</h4>
          <div class="height-sm"></div>
          <div class="card">
            <div class="card-header card-dash-header">
              <i class="fas fa-cog"></i> Change Email
            </div>
            <div class="card-body">
              <div class="form-group">
                <input class="form-control" id="name" type="text" placeholder="New Email" required="required">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input class="form-control" id="name" type="text" placeholder="Confirm New Email" required="required">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input class="form-control" id="name" type="password" placeholder="Current Password" required="required">
                <p class="help-block text-danger"></p>
              </div>
              <a href="#" class="btn btn-primary bg-primary" data-toggle="modal" data-target="#2faPrompt">Change Email</a>
            </div>
          </div>
          <div class="height-lg"></div>
          <div class="card">
            <div class="card-header card-dash-header">
              <i class="fas fa-cog"></i> Change Password
            </div>
            <div class="card-body">
              <div class="form-group">
                <input class="form-control" id="name" type="password" placeholder="Old Password" required="required">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input class="form-control" id="name" type="password" placeholder="New Password" required="required">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input class="form-control" id="name" type="password" placeholder="Confirm New Password" required="required">
                <p class="help-block text-danger"></p>
              </div>
              <a href="#" class="btn btn-primary bg-primary" data-toggle="modal" data-target="#2faPrompt">Change Password</a>
            </div>
          </div>
          <div class="height-lg"></div>
          <div class="card">
            <div class="card-header card-dash-header">
              <i class="fas fa-mobile-alt"></i> Two Factor Authentication
            </div>
            <div class="card-body">
              Status:
              <span class="badge badge-danger">OFF</span>
              <div class="height-md"></div>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              <div class="height-lg"></div>
              <a href="#" class="btn btn-primary bg-primary" data-toggle="modal" data-target="#2faModal">Enable</a>
            </div>
          </div>
      </div>
  </div>
</div>
