<div class="order-first order-sm-first order-md-first order-lg-last animated fadeIn">
  <div class="tab-content" id="myTabContent">
        <div class="tab-pane show active" id="transactions-tab" role="tabpanel" aria-labelledby="transactions-tab">
          <h4>Transaction History</h4>
          <div class="height-sm"></div>
          <div class="card">
            <div class="card-header card-dash-header">
              Recent Transactions
            </div>
            <div class="card-body">
              <table class="table table-hover">
                <thead class="bg-light">
                  <tr>
                    <th scope="col">Status</th>
                    <th scope="col">Currency</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Time</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Pending</th>
                    <td>BTC to AEVX</td>
                    <td>1000</td>
                    <td>2018-11-15 12:25</td>
                  </tr>
                  <tr>
                    <th scope="row">Completed</th>
                    <td>BTC to AEVX</td>
                    <td>1500</td>
                    <td>2018-10-11 23:44</td>
                  </tr>
                  <tr>
                    <th scope="row">Completed</th>
                    <td>ETH to AEVX</td>
                    <td>900</td>
                    <td>2018-09-28 13:44</td>
                  </tr>
                  <tr>
                    <th scope="row">Completed</th>
                    <td>ETH to AEVX</td>
                    <td>900</td>
                    <td>2018-09-28 13:44</td>
                  </tr>
                  <tr>
                    <th scope="row">Completed</th>
                    <td>ETH to AEVX</td>
                    <td>900</td>
                    <td>2018-09-28 13:44</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
  </div>
</div>
