<footer class="masthead text-white d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-6">
        <img src="img/aevolve-token.png" class="footer-logo" />
        <div class="height-lg"></div>
        <a href="#">
          <i class="fab fa-telegram fa-2x"></i>
        </a>
        <a href="#">
          <i class="fab fa-facebook fa-2x"></i>
        </a>
        <a href="#">
          <i class="fab fa-twitter-square fa-2x"></i>
        </a>
        <a href="#">
          <i class="fab fa-medium fa-2x"></i>
        </a>
        <div class="height-lg"></div>
        <span class="text-faded">© 2018. Copyright Aevolve ICO</span>
        <br />
        <a href="#">Disclaimer</a>&nbsp;&nbsp;&nbsp;
        <a href="#">Privacy Policy</a>&nbsp;&nbsp;&nbsp;
        <a href="#">Terms of Use</a>

      </div>
      <div class="col-lg-6">

      </div>
    </div>
  </div>
</footer>
