<!-- <div class="modal fade" id="2faModal" tabindex="-1" role="dialog" aria-labelledby="2faModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content"> -->
      <div class="modal-header card-dash-header">
        Two Factor Authentication
        <button type="button" class="close" ng-click = "close()" aria-label="Close">
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <div class="height-md"></div>
        Scan with your authenticator app.
        <div class="height-md"></div>
        <i class="fas fa-qrcode fa-5x"></i>
        <div class="height-md"></div>
        <div class="form-group">
          <input class="form-control" id="phonenum" type="number" placeholder="Back up Text" required="required">
        </div>
        <div class="height-md"></div>
        <button type="button" class="btn bg-primary text-white" data-dismiss="modal" data-toggle="modal" data-target="#status-modal">Enable 2FA</button>
        <button type="button" class="btn btn-danger" ng-click = "close()">Cancel</button>
        <div class="height-md"></div>
      </div>
    <!-- </div>
  </div>
</div> -->
