<!--<div class="modal fade" id="continueModal" tabindex="-1" role="dialog" aria-labelledby="continueModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content"> -->
      <div class="modal-body text-center bg-light" style="border-radius:7px;">
        <div class="height-md"></div>
        <img src="../img/token-icon.png" style="height:30px;" />
        <div class="height-sm"></div>
        Your session is about to expire, do you want to keep yourself logged in?
        <div class="height-sm"></div>
        <span idle-countdown="countdown"><i class="fas fa-circle-notch fa-spin"></i> {{countdown | secondsToDateTime | date:'mm:ss' }}</span>
        <div class="height-lg"></div>
        <button type="button" class="btn bg-primary text-white" data-dismiss="modal" data-toggle="modal"
          data-target="#status-modal">Yes, I want to stay logged in.
        </button>
        <div class="height-md"></div>
      </div>
  <!--  </div>
  </div>
</div> -->