<!-- Send Modal -->
<!-- <div class="modal" id="sendModal" tabindex="-1" role="dialog" aria-labelledby="sendModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content"> -->
      <div class="modal-header card-dash-header">
        Send Token
        <button type="button" class="close" ng-click = "close()" aria-label="Close">
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="height-md"></div>
        <div class="form-group">
          <input class="form-control" id="name" type="text" placeholder="No. of Tokens" required="required">
          <p class="help-block text-danger"></p>
        </div>
        <div class="form-group">
          <input class="form-control" id="name" type="text" placeholder="Ethereum Address" required="required">
          <p class="help-block text-danger"></p>
        </div>
        <div class="height-md"></div>
        Enter 2FA Code:
        <div class="form-group">
          <input class="form-control" id="name" type="text" placeholder="" required="required">
          <p class="help-block text-danger"></p>
        </div>
        <div class="height-lg"></div>
        <a href="#" class="btn btn-primary bg-primary w-100" data-dismiss="modal" data-toggle="modal" data-target="#status-modal">Send Token</a>
      </div>
    <!-- </div>
  </div>
</div> -->
