<section class="bg-gray">
    <div class="container my-auto">
        <div class="row justify-content-sm-center">
            <div class="col-xs-10 col-sm-10 col-md-8 col-lg-6 col-xl-5">
                <div class="height-md"></div>
                <div class="account-box">
                    <h2>Forgot Password</h2>
                    Enter your email address here and we'll send you a reset link.
                    <div class="height-lg"></div>
                    <form class="form-signin" id="login-form"  name="vm.form"  data-parsley-validate="" novalidate="">
                        <div class="form-group">
                            <input  ng-model="auth.email" type="email" class="form-control" placeholder="Email" name="email" data-parsley-trigger="change" required="">
                        </div>
                        <div class="g-recaptcha" data-sitekey="your_site_key"><div style="width: 304px; height: 78px;"><div><iframe src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=your_site_key&amp;co=aHR0cDovL2Fldm9sdmUuaGVhbHRoOjgw&amp;hl=en&amp;v=v1537770717608&amp;size=normal&amp;cb=npfbe3icxgze" width="304" height="78" role="presentation" name="a-7zyrft86hl32" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea></div></div>
                        <div class="height-md"></div>
                        <button type="submit" class="btn btn-lg btn-block bg-primary text-light">Reset Password</button>
                    </form>
                    <div class="height-md"></div>
                </div>
            </div>
        </div>
    </div>
</section>
