<section class="bg-gray">
  <div class="container my-auto">
    <div class="row justify-content-sm-center">
      <div class="col-xs-10 col-sm-10 col-md-8 col-lg-6 col-xl-5">

          <div ng-show="successSignup" class="alert alert-success text-center" role="alert">
            Sign success!
            <button type="button" class="close text-light" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>

         <div ng-show="isVerified" class="alert alert-success text-center" role="alert">
            Email verified!
            <button type="button" class="close text-light" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>

          <!--<div ng-show="unverifiedEmail" class="alert alert-danger text-center" role="alert">-->
            <!--Error please verify your email.-->
            <!--<button type="button" class="close text-light" data-dismiss="alert" aria-label="Close">-->
              <!--<span aria-hidden="true">×</span>-->
            <!--</button>-->
          <!--</div>-->

          <!--<div ng-show="errorLogin" class="alert alert-danger text-center" role="alert">-->
            <!--Wrong Email Address or Password.-->
            <!--<button type="button" class="close text-light" data-dismiss="alert" aria-label="Close">-->
              <!--<span aria-hidden="true">×</span>-->
            <!--</button>-->
          <!--</div>-->

        <div class="height-md"></div>
        <div class="account-box">
          <h2>Account Login</h2>
          For registered users
          <div class="height-lg"></div>
          <span>Don't have an account? Create one
              <a ui-sref="app.register">here</a>.</span><br>
          <div class="height-sm"></div>
          <form class="form-signin" name="vm.form" ng-submit="auth.login()" role="form">
            <div class="form-group">
              <input type="text" class="form-control" ng-model="auth.email" name="email" id="email" placeholder="Email" required />
            </div>
            <div class="form-group">
              <input type="password" class="form-control"  ng-model="auth.password" name="passowrd" id="password" placeholder="Password" required />
            </div>
            <!-- <div class="g-recaptcha" data-sitekey="your_site_key"></div> -->
            <div class="height-md"></div>
          <!--   <a href="dashboard.html" class="btn btn-lg btn-block bg-primary text-light">
              Log in</a> -->
              <button type="submit" class="btn btn-lg btn-block bg-primary text-light">Login</button>
          </form>
          <div class="height-md"></div>
          <a href="forgot-password.html">Forgot Password?</a>
        </div>
      </div>
    </div>
  </div>
</section>
